<%- include("partials/header"); -%>
<h1>Compose</h1>
<form action="/compose" method="post">
<h3>Title</h3>
<input type="text" class="form-control" name="title" placeholder="Enter title" autocomplete="off">
<br>
<h3>Post</h3>
<textarea rows="6" cols="30" class="form-control" name="postbody"></textarea>
<br>
<button type="submit" class="btn btn-primary">Publish</button>
</form>
<%- include("partials/footer"); -%>